@page "/Categories"
<h3>ForumCategories</h3>

<form>
    <input type="text"/>

</form>
@code {

    public string Title { get; set; }

    public class Categories
    {

    }

    protected override async Task OnInitializedAsync()
    {

    }
}
