
@page "/"
<button class="btn btn-success oi oi-home" @onclick="NavigateHome"></button>
<AuthorizeView Roles="Administrators">
    <Authorized>
        <button class="btn btn-primary" @onclick="() => CategoryForm = true">Create new Category</button>
    </Authorized>
</AuthorizeView>


@if (CategoryForm == true)
{
    <EditForm Model="NewCategory" OnSubmit="CreateCategory">
        <InputText @bind-Value="NewCategory.Title" DisplayName="CategoryName"></InputText>
        <button type="submit">Submit</button>
    </EditForm>
}
@if (PageState == 1)
{
    <CategoriesComponent @ref="CategoriesRef" CategoryChanged="UpdateCategoryState"></CategoriesComponent>
}
else if (PageState == 2)
{
    <SubjectsComponent Category="Category" SubjectPosts="OpenSubjectPosts"></SubjectsComponent>
}
else if (PageState == 3)
{
    <PostsComponent CurrentSubject="CurrentSubject"></PostsComponent>
}



