
@page "/"
<button class="btn btn-success oi oi-home" @onclick="NavigateHome"></button>
<AuthorizeView Roles="Administrators">
    <Authorized>
        <button class="btn btn-primary" @onclick="() => CategoryForm = true">Create new Category</button>
    </Authorized>
</AuthorizeView>


@if (CategoryForm == true)
{
    <EditForm Model="NewForumCategory" OnSubmit="CreateForumCategory">
        <InputText @bind-Value="NewForumCategory.Title" DisplayName="CategoryName"></InputText>
        <button type="submit">Submit</button>
    </EditForm>
}

<CategoriesComponent @ref="CategoriesRef" CategoryChanged="UpdateCategoryState"></CategoriesComponent>



