
@page "/"
<AuthorizeView Roles="Administrators">
    <Authorized>
        <button class="btn btn-primary" @onclick="ToggleCreateForumForm">Create new Forum</button>
    </Authorized>
</AuthorizeView>

<ChatComponent></ChatComponent>

@if (ShowCreateForumForm)
{
    <EditForm Model="NewForumCategory" OnSubmit="CreateForumCategory">
        <InputText @bind-Value="NewForumCategory.Title" DisplayName="CategoryName"></InputText>
        <button type="submit">Submit</button>
    </EditForm>
}
@if(ListOfForums is not null) {
    <Virtualize Items="@ListOfForums" Context="forum">
        <ForumComponent Forum="forum" UpdateForum="UpdateForum"></ForumComponent>
    </Virtualize>
}