@using System.Net.Http

@page "/"
<h1>Hello, world!</h1>
<button @onclick="NavigateHome">Home</button>
<AuthorizeView Roles="Administrators">
    <Authorized>
        <button @onclick="() => CategoryForm = true">Create new Category</button>
    </Authorized>
</AuthorizeView>

@if(CategoryForm == true)
{
 <EditForm Model="NewCategory" OnSubmit="CreateCategory">
     <InputText @bind-Value="NewCategory.Title" DisplayName="CategoryName"></InputText>
     <button type="submit">Submit</button>
 </EditForm>
}
@if (PageState == 1)
{
    <CategoriesComponent @ref="CategoriesRef" CategoryChanged="UpdateCategoryState"></CategoriesComponent>
}
else if (PageState == 2)
{
    <SubjectsComponent Category="Category"></SubjectsComponent>
}
else if (PageState == 3)
{

}



