@using System.Net.Http
@inject HttpClient Http
@page "/"
  
        @foreach (var item in categories)
        {
            <p>@item</p>
        }

<h1>Hello, world!</h1>



@code {

    private List<string> categories = new();

    protected override async Task OnInitializedAsync()
    {
        using var PublicHttp = new HttpClient();

        PublicHttp.BaseAddress = Http.BaseAddress;
        

        var request = await PublicHttp.GetAsync("api/Category");

        if (request.IsSuccessStatusCode)
        {
            categories = await request.Content.ReadFromJsonAsync<List<string>>();
        }

        await Http.DeleteAsync("api/Category/1");

    }
}