@page "/Topic/Posts/{SubjectId:int}"
@if (Subject != null)
{
    <h1>@Subject.Title</h1>
    <h1>@SubjectId</h1>
}
<AuthorizeView>
    <Authorized>
        <button @onclick="() => SubjectForm = true">Create new Subject</button>
    </Authorized>
</AuthorizeView>


<div class="list-group">
    @if (Subject is not null && Subject.Posts is not null)
    {
            <Virtualize Items="@Subject.Posts" Context="post">
                <PostCardComponent Post="post" UpdatePosts="UpdatePosts"></PostCardComponent>
            </Virtualize>
    }
</div>