@page "/Profile/{UserName}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@if(UserName != null)
{

<h1>@UserName</h1>
<AuthorizeView>
    <Authorized>
        @if (context.User.Identity.Name == UserName)
        {
            <div class="input-group">
                <div class="custom-file">
                    <InputFile class="custom-file-input" OnChange="OnChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
                    <label class="custom-file-label" for="inputFile">Choose file</label>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-success" @onclick="Upload" disabled="@isDisabled">Upload</button>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>



    @foreach (var item in filesBase64)
        {
            <img src="data:@item.contentType;base64,@item.base64data" />
        }
}