
<table class="table">
    <thead>
    </thead>
    <tbody>
        @if (categories is not null)
        {
            @foreach (var item in categories)
            {
                <tr>
                    <th scope="row" >
                        <button @onclick="() => GetContent(item.Id)">@item.Title</button>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>

