
@*<table class="table">
    <thead>
    </thead>
    <tbody>
        @if (categories is not null)
        {
            @foreach (var item in categories)
            {
                <tr @onclick="() => GetContent(item)">
                    <th scope="row">
                        <h1>@item.Title</h1>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>*@
<div class="list-group">
    @if (categories is not null)
    {
        @foreach (var cat in categories)
        {
            <a @onclick="() => GetContent(cat)" class="list-group-item list-group-item-action bg-light" aria-current="false">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@cat.Title</h5>
                    <small>Last post 3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </a>
        }
    }
</div>
