<div class="card" style="width: 24rem;">
    <div class="card-header">name</div>
    <div class="card-body d-inline-flex flex-column overflow-auto" style="height: 200px;">
            <p class="d-flex justify-content-end">hej</p>
            <p class="">hej</p>

            <p class="justify-content-end bg-primary">hej</p>
            <p class="justify-content-end">hej</p>
            <span class="badge rounded-pill bg-primary">Primary</span>
            <p class="d-flex justify-content-end">hej</p>
            <p class="badge bg-primary">hej</p>
            <p class="d-flex justify-content-end">hej</p>
            <p class="d-flex justify-content-end">hej</p>
            <p class="">hej</p>
            <p class="d-flex justify-content-end">hej</p>
            <p class="">hej</p>
            <p class="">hej</p>
            <p class="">hej</p>
            <p class="">hej</p>


    </div>
    <EditForm Model="MessageModel" OnSubmit="subas" class="card-footer d-flex flex-nowrap">
        <InputTextArea @bind-Value="MessageModel.Message" class="flex-fill"></InputTextArea>
        <button class="btn btn-primary btn-sm" type="submit">Submit</button>
    </EditForm>
</div>