@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
<div class="page">
    @if (AcceptCookie)
    {
        <div class="main">
            <div class="top-row px-4 auth">
                <LoginDisplay />
            </div>
            <div class="content px-4 container">
                @Body
            </div>
        </div>
    }
    else
    {
        <div class="container d-flex align-items-center justify-content-center min-vh-100">
            <CookiesConsent accepted="AcceptCookies"></CookiesConsent>
        </div>
    }


</div>


@code {      
    protected override async Task OnInitializedAsync()
    {
        await FindCookie("ConsentCookie");
    }

    private async Task CreateCookie(string name, bool value)
    {
        await JSRuntime.InvokeVoidAsync("window.CreateCookie", name, value);
    }
    private async Task FindCookie(string name)
    {
        AcceptCookie = await JSRuntime.InvokeAsync<bool>("window.FindCookie", name);
    }

    public bool AcceptCookie { get; set; }

    public async void AcceptCookies(bool accept)
    {
        await CreateCookie("ConsentCookie", true);
        await FindCookie("ConsentCookie");
    }
}