@if (CurrentSubject != null)
{
    <h3>@CurrentSubject.Title</h3>
}

<div class="container">
    @if (Posts is not null)
    {

        @foreach (var post in Posts)
        {
            <PostCardComponent Post="post" UpdatePosts="UpdatePosts"></PostCardComponent>
        }
    }
</div>
<AuthorizeView Context="AuthContext">
    <Authorized>
        <EditForm Model="NewPost" OnSubmit="CreatePost">
            <InputText @bind-Value="NewPost.Content" DisplayName="Message Here"></InputText>
            <button type="submit">Submit</button>
        </EditForm>
    </Authorized>
</AuthorizeView>




