@if (CurrentSubject != null)
{
    <h3>@CurrentSubject.Title</h3>
}

<div class="container">
    @if (Posts is not null)
    {

        @foreach (var post in Posts)
        {
            <PostCardComponent Post="post" UpdatePosts="UpdatePosts"></PostCardComponent>
        }
    }

    <AuthorizeView Context="AuthContext">
        <Authorized>
            <EditForm Model="NewPost" OnSubmit="CreatePost">
                <div class="form-floating m-3">
                    <InputTextArea class="form-control" placeholder="Submit your post" style="height: 100px" @bind-Value="NewPost.Content"></InputTextArea>
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </div>
            </EditForm>
        </Authorized>
    </AuthorizeView>
</div>




