@if (Quote is not null && Visible)
{
        
                <div class="container">
                    <div class="row d-flex">
                        <span class="oi oi-caret-right col-1 d-flex justify-content-end" @onclick="() => ShowChildren = !ShowChildren" style="padding-right: 0px; padding-top: 10px;"></span>
                        <figure class="border p-2 col-11">
                            <small>@Quote.Content - </small>
                            <small>
                                <cite>@Quote.PostedBy</cite>
                            </small>
                        </figure>
                    </div>


                @if (ShowChildren && ChildQuotes is not null)
                {
                        @foreach (var quote in ChildQuotes)
                        {
                                <QuoteTreeComponent PostId="quote.Id" Visible="true"></QuoteTreeComponent>
                        }
                }
                </div>
}
