@if (Quote is not null && Visible)
{
        
                <div class="container">
                <div class="oi oi-x" @onclick="() => ShowChildren = !ShowChildren"></div>
                <small>@Quote.Content - </small>
                <small>
                <cite>@Quote.PostedBy</cite>
                </small>
                @if (ShowChildren && ChildQuotes is not null)
                {
                        @foreach (var quote in ChildQuotes)
                        {
                                <QuoteTreeComponent PostId="quote.Id" Visible="true"></QuoteTreeComponent>
                        }
                }
                </div>
}
